<!— Page Heading —>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Détails catégorie</h1>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card" style="text-align: center;">
            <i class="fas fa-image" style="font-size: 1000%;"></i>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Informatique</li>
                <li class="list-group-item">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </li>
                <li class="list-group-item">Aucun parent</li>
                <li class="list-group-item">Enable</li>
            </ul>
            <div class="card-body">
                <button class="btn btn-secondary btn-circle" title="Retour">
                    <i class="fas fa-undo"></i>
                </button>&nbsp;
                <button class="btn btn-success btn-circle" title="Modifier">
                    <i class="fas fa-edit"></i>
                </button>&nbsp;
                <button class="btn btn-danger btn-circle" title="Supprimer">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>